.style{

    font-size: large;
    font-weight: 400;
    color: black;
    font-style: normal;
    background-color: pink;
}
.style1{
    font-size: 12px;
    font-weight: 900;
    color: rgb(234, 10, 10);

}

